body {
  background: white;
}
p {
  color: black;
  font-family: 'Shantell Sans', cursive;
}
h1 {
  font-weight: bold;
  font-family: 'Climate Crisis', cursive;

}
h2 {
    font-family: 'Mynerve', cursive;
}